
#
# Copy-pasted from the mac-mouse-fix .gitignore on 23.07.2024
#

# macOS stuff
.DS_Store

# vscode
#   Don't leak API keys in launch.json
#   Update: We need to do this in the main mmf repo. Not sure doing it here helps.
.vscode

# Python stuff
env
venv
__pycache__

# Sensitive
gumroad_sales_cache.json

# Password file
sudopass.sh
